<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body border-primary">
      <h1 class="text-center mt-3">Login</h1>
      {{> message}}
      <form action="/users/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter email"
            class="form-control"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter password"
            class="form-control"
          />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
         <div class="d-grid gap-2 mt-3">
          <a href="/auth/facebook" class="btn btn-info">Facebook Login</a>
        </div>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>